<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/png" href="../static/img/bulb.png">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allan&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Coronavirus stats</title>

</head>
<body>

<div class="container home-container-style">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 main-column stats-page-style">
            <div class="card text-center">
                <div class="card-header">
                    Country:
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a th:text="${countryName}"></a></h4>
                    <p class="card-text">Total cases: <a th:text="${lastCase.getCases()}"></a></p>
                    <p class="card-text">First case: <a th:text="${firstCaseDate}"></a></p>
                    <a href="#" class="btn btn-secondary"> Main page </a>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 main-column">
            <table class="table table-striped">
                <thead class="">
                <tr align="center">
                    <th width="50%">Date</th>
                    <th width="50%">Cases</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" th:each="statForCountry : ${statsForCountry}">
                    <td width="50%"> <img src="img/calendar.png" class="img-style"> <a th:text="${statForCountry.getDate()}"> </a>  </td>
                    <td width="50%"> <img src="img/cough.png" class="img-style"> <a th:text="${statForCountry.getCases()}"> </a> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
        </div>
    </div>



</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
